h1{
    font-size: 4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #124;
    color: #f52;
    padding: 2px 0px;
    border-radius: 50px;
    text-align: center;
}
body{
    background-image: url(https://cdn.shopify.com/s/files/1/0234/5963/products/Broncos_a6cee954-2019-4eed-ad53-ed192bc77699_1024x1024.jpg?v=1538012129)

}
.grid{
    width: 600px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: aliceblue;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 10px 15px 5px black;

}
#question{
    font-size: 30px;
    color: darkslategrey;
}
.buttons{
    margin-top: 30px;
    
}

#btn0, #btn1, #btn2, #btn3{
    background-color: #124;
    width: 250px;
    font-size: 20px;
    color: whitesmoke;
    border-radius: 50px;
    border: 1px solid black;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    
}
#progress{
    font-size: 18px;
}
#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover{
    cursor: pointer;
    background-color: #f52;
}
#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus{
    outline: 0;
}